*,*:active,*:focus,*:hover{
  font-family:'Roboto',sans-serif, helvetica;
  outline: none;
}
.arrow-left{
  background-image:url(../images/ic_arrow_left_gray.svg);
  background-size: 200%;
}
.arrow-right{
  background-image:url(../images/ic_arrow_right_gray.svg);
  background-size: 200%;
}
.aside-main{
  background-color:#2980b9;
  color:#fff;
}
.banner{
  background-color:transparent;
  background-size:100%;   
  margin-top:40px;
}
.banner,.banner img,
.carousel-inner img{height:300px!important;width:100%;}
.banner input{
  position:relative;
  width:56px;
  padding:8px;
  margin:0 25px;
  background-color:transparent;  
}
.button-cart{
  background-image:url(../images/ic_cart.svg);
  background-color:transparent;
  background-size:80%;
  width:36px;
  margin-right:8px;
  border-radius:50%;
  transition:0.1s background-color ease-in-out;
  -webkit-transition:0.1s background-color ease-in-out;
}
.button-cart:active{
  background-color:#253442;
}
.component-fixed{position:fixed}
.component-image{
  background-repeat: no-repeat;
  background-position: center;
}
.container-search{
  background-color:#fff;
  padding-left: 8px;
  width: 250px;
}
.container-search *, .button-cart{
  height:35px;
}
.float-left{float:left}
.float-right{float:right}
.footer-main{
  background-color:#7f8c8d;
  color:#34495e;
  min-height:200px;
}
.full-width{width:100%;}
.header-main{
  height: 120px;
  background-color:#99FFFF;
  z-index: 10;
}
.height-full{height:100%;}
.img-search{
  background-image:url(../images/ic_search.svg);
  background-color:transparent;
  background-size:80%;
  width:40px;  
  padding: 0 12px;
}
input, button{border:none;}
.logo{
  background-image:url(../images/logo.png);
  background-color: transparent;
  background-size: 100%;
  width: 220px;
  height: 120px;
  margin-left: 10px;
}
.nav-main{
  width:75%;
  float:right;
  padding:9px 8;
  margin-top: 25px;
}
.radius{border-radius:50%;}
.top-left{top:0;left:0}
.text-login {
  top: 2px;
  left: 500px;
}